@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /* padding-left: 15px; */
}

.title {
    padding-top: 50px;
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $main-color;
    &_fz18 {
        font-size: 18px;
        line-height: 22px;
    }
}

.description {
    width: 880px;
    height: 45px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
    text-align: center;
}

.divider {
    margin: 20px auto;
    width: 148px;
    height: 1px;
    background-color: $main-color;
}

@import 'blocks/media';
@import 'blocks/pageup';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/works';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/cooperate';
@import 'blocks/carousel';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/media';