.button {
    background-color: $main-color;
    border-radius: 35px;
    border: none;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    &_big {
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &:hover {
        background: $second-color;
        box-shadow: 0px 0px 10px $second-color;
    }
}