.button {
    background-color: $main-color;
    border-radius: 35px;
    border: none;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}