.carousel {
    min-height: 470px;
    &__inner {
        padding: 30px 0 65px 0;
        max-width: 600px;
        margin: 0 auto;
        button {
            outline: none;
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 70px;
        transform: translate(-50%);
        left: 190px;
        border: none;
        background: none;
        z-index: 2;
        img {
            width: 14px;
            height: 46px;
        }
    }
    .slick-next {
        right: 180px;
        left: auto;
    }
    ul {
        display: flex;
    }  
    .slick-dots {
        font-size: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        list-style: none;
        button {
            background: #f1caac77;
            border: none;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            margin: 5px;
            outline: none;
        }
        li[class="slick-active"] button {
            display: inline-block;
            background: #e75528;
        }
    }
    &__img {
        width: 115px;
        height: 115px;
        margin: 0 auto;
    }
    &__name {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #3a3a3a;
        text-align: center;
    }
    &__text {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
}