.cooperate {
    background-color: #f3f3f3;
    min-height: 455px;
    &__wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: 250px;
        display: flex;
        flex-direction: column;

        align-items: center;
        margin: 0 17px 0 17px;
        padding-bottom: 25px;
        &-subtitle {
            margin-top: 10px;
        }
        &-text {
            margin-top: 10px;
            font-size: 13px;
            font-weight: 300;
            color: #3a3a3a;
            text-align: center;
        }
    }
}