.question {
    min-height: 440px;
    padding: 63px 0 80px 0;
    &__wrapper {
        background-color: #25333c;
        padding-top: 20px;
        height: 365px;
        width: 896px;
        form {
            width: 896px;
            height: 297px;
            opacity: 0.7;
            background-color: #ffffff;
        }
    }
    &__title {
        font-size: 19px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 15px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }

}