.works {
    min-height: 550px;
    padding-bottom: 60px;
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        column-gap: 30px;
    }
    &__item {
        &-subtitle {
            margin: 25px 0 7px 0;
        }
        &-img {
            width: 360px;
            height: 210px;
        }
        &-text {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
        }
    }
}